form{
    max-width: 600px;
    margin:auto;
}

.bar{
    background: #B3BFB8;
    padding:0.4em;
    text-align:center;

}

.inputarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    background-color: #f7f7f7;
    resize: none;
    font-size: 18px; 
}


.err{
    background:#ffb0b0;
    padding:0.5em;
}

.right{
    align-self: right;
}