@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body{
  background:#F0F7F4;
  height:100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  font-family: 'Ubuntu','Roboto', 'Arial', sans-serif;
  overflow-wrap: break-word;
  color:#111111;
}
a{
  text-decoration: none;
}

header{
background: #A2E3C4;
padding:1em;
margin-bottom: 2em;
text-align: center;


}

.container{
  margin:0em 1em;
  padding:1em 1em;
  margin-bottom: 2em;
  background: #7E8D85;
}
.col{

  background:#B3BFB8;
  margin:1em;
  padding:1em;
}
.col:hover{
  background: #90ceb0;
}
.newbtn{
  background: #aae3a2;
  text-align: center;
  font-size:1.1em;
}

.newbtn:hover{
  background: #8efd7d;
}
.title{
  text-align: center;

}
.box{
  margin:0.4em 0;

}
.btnwrap{
  text-align: center;
  
}

input[type=button]{
  display:inline-block;
  margin:2em 0.8em;
  height:4em;
  width:25%;
  text-align: center;
  font-size:1em;
  font-weight: bold;
  background: #afcebb;
  border:none;
}

input[type=button]:hover{
  background: #B3BFB8;
  cursor:pointer;
}

a:link, a:visited, a:hover, a:active {
  color:#111111;
}
a:hover{
  cursor: pointer;
}
